/* MAIN styles */
body {
    font-family: 'Poiret One', cursive;
}

h1 {
    color: hotpink;
}
h2 {
    color: hotpink;

}
.color {
    color: rgba(220, 204, 178, 0.9);
}
.italic {
    font-style: italic;
}
